:root{
    --hi:blue;
}
body{
    background-color: rgb(0, 100, 45);
}
a{
    text-decoration: none;
}
.logo{
    height: 80px;
    width: auto;
}

.c-nav-item {
    :hover{
    color:var(--hi) ;
    }
    :focus{
        outline: none;
        box-shadow: none;
    }
    
}
