    body {
      background: linear-gradient(135deg, var(--primary-color), var(--primary-hover), var(--accent-color));
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .login-card {
      background: var(--overlay-light);
      padding: 30px 30px;
      border-radius: 15px;
      border: 1px solid rgba(68, 54, 39, 0.3);
      color: var(--text-dark);
      box-shadow: 0 4px 30px rgba(68, 54, 39, 0.4);
      width: 100%;
      max-width: 320px;
      backdrop-filter: blur(10px);
    }

    .login-card h3 {
      margin-bottom: 25px;
      font-weight: 600;
      color: var(--text-dark);
    }

    .btn-login {
      width: 100%;
      background-color: var(--accent-color);
      color: var(--text-dark);
      font-weight: bold;
      transition: 0.3s;
      border: none;
    }

    .btn-login:hover {
      background-color: var(--secondary-hover);
      color: var(--text-dark);
    }

    .form-control:focus {
      border-color: var(--accent-color);
      box-shadow: 0 0 5px rgba(217, 131, 36, 0.4);
    }

    .form-text {
      text-align: center;
      color: var(--text-dark);
      font-size: 0.9rem;
      margin-top: 10px;
    }

    a {
      background-color: var(--accent-color);
      padding: 2px 0.5rem 0.3rem;
      color: var(--text-dark);
      backdrop-filter: blur(20px);
      border-radius: 6px;
      text-decoration: none;
      font-weight: 600;
    }

    a:hover {
      color: var(--text-dark);
      background-color: var(--secondary-hover);
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
      box-shadow: none;
      border-color: transparent;
    }
  